## **CARREGA OS DADOS**

In [50]:
# importa dependencias
import numpy as np
import pandas as pd

In [51]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [52]:
# carrega os dados
enem_sp = pd.read_csv('/content/drive/MyDrive/UDEMY - Estatística para Análise de Dados/PROJETO FINAL DO CURSO/microdados_enem_2019_sp_tratado.csv',
                      sep=',', encoding='iso-8859-1')
enem_sp.head()

,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,SG_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,Santa Isabel,22,M,1,parda,1,Santa Izabel do Pará,PA,1,4,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,São Paulo,17,F,1,parda,1,Belém,PA,2,0,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
2,São Bernardo do Campo,19,M,1,parda,1,São Bernardo do Campo,SP,2,0,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
3,Embu-Guaçu,17,F,1,parda,1,Itacoatiara,AM,2,0,...,419.2,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
4,Guarulhos,23,F,1,branca,1,São Paulo,SP,1,5,...,796.1,Inglês,1.0,160.0,200.0,180.0,180.0,160.0,880.0,Sim

Iremos trabalhar apenas os alunos que moram na cidade de CAMPINAS.

In [53]:
enem_campinas = enem_sp.query('NO_MUNICIPIO_RESIDENCIA == "Campinas"')
enem_campinas.shape

(13198, 35)

## **AMOSTRAGEM ALEATÓRIA SIMPLES**

Criamos uma semente aleatória para que toda vez que se execute a função SAMPLE retorne a mesma seleção de dados

In [54]:
np.random.seed(1)

Queremos selecionar aleatoriamente 20% do total de dados na cidade de Campinas

In [59]:
amos_simples = enem_campinas.sample(frac=0.20)  # , random_state=1
amos_simples.head()

,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,SG_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
250021,Campinas,24,M,1,branca,1,Campinas,SP,1,7,...,536.3,Espanhol,1.0,120.0,120.0,100.0,120.0,120.0,580.0,Sim
348735,Campinas,17,F,2,parda,1,Campinas,SP,2,0,...,480.3,Inglês,1.0,100.0,120.0,120.0,80.0,80.0,500.0,Sim
21187,Campinas,18,F,1,parda,0,NaN,NaN,2,0,...,480.8,Inglês,1.0,120.0,160.0,140.0,160.0,180.0,760.0,Sim
199307,Campinas,18,F,1,parda,1,Campinas,SP,1,1,...,417.3,Inglês,1.0,120.0,120.0,140.0,120.0,80.0,580.0,Não
168427,Campinas,18,F,1,branca,1,Campinas,SP,2,0,...,65.6,Inglês,1.0,140.0,140.0,120.0,120.0,140.0,660.0,Sim

A seleção aleatória também pode ser definada por uma quantidade fixa inteira

In [61]:
amos_simples = enem_campinas.sample(n=3000)  #, random_state=1
amos_simples.head()

,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,SG_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
327999,Campinas,20,M,1,preta,1,Campinas,SP,1,3,...,459.6,Inglês,1.0,180.0,200.0,180.0,200.0,200.0,960.0,Sim
235222,Campinas,17,F,1,branca,1,Campinas,SP,2,0,...,48.8,Inglês,1.0,160.0,180.0,160.0,140.0,140.0,780.0,Sim
134221,Campinas,18,F,1,parda,1,São Paulo,SP,2,0,...,429.9,Inglês,1.0,100.0,120.0,100.0,80.0,100.0,500.0,Sim
358407,Campinas,25,M,0,parda,1,São Carlos,SP,1,8,...,687.4,Espanhol,1.0,140.0,120.0,120.0,140.0,140.0,660.0,Não
173364,Campinas,18,M,1,parda,1,Campinas,SP,1,1,...,617.9,Inglês,1.0,140.0,120.0,140.0,140.0,80.0,620.0,Sim

Outra maneira de se fazer uma amostragem aleatória simples:

In [67]:
# fixa seleção aleatória
np.random.seed(2)
# cria os tamanhos de seleção de dados
amostra = np.random.choice(a=[0,1], size=len(enem_campinas), replace=True, p=[0.8, 0.2])
# visualiza o tamanho (80% do total de dados de Campinas)
print('80% :',len(amostra[amostra == 0]))
# visualiza o tamanho (20% do total de dados de Campinas)
print('20% :',len(amostra[amostra == 1]))

80% : 10566
20% : 2632

In [69]:
# seleciona aleatoriamente o 20% dos dados de Campinas
amos_simples = enem_campinas.loc[amostra == 1]
amos_simples

,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,SG_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
949,Campinas,17,F,1,branca,1,Campinas,SP,2,0,...,601.4,Inglês,1.0,160.0,120.0,120.0,140.0,120.0,660.0,Sim
1058,Campinas,19,M,1,parda,1,Campinas,SP,1,3,...,474.6,Inglês,1.0,120.0,120.0,120.0,160.0,100.0,620.0,Sim
1980,Campinas,17,F,1,parda,1,Campinas,SP,2,0,...,479.9,Inglês,1.0,120.0,120.0,120.0,140.0,120.0,620.0,Não
2053,Campinas,18,F,1,parda,1,Campinas,SP,1,1,...,424.2,Inglês,1.0,100.0,40.0,20.0,80.0,0.0,240.0,Sim
2328,Campinas,20,F,1,parda,2,NaN,NaN,1,3,...,552.5,Espanhol,1.0,120.0,120.0,100.0,100.0,80.0,520.0,Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498946,Campinas,17,M,1,parda,1,Campinas,SP,2,0,...,484.1,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
499198,Campinas,18,M,1,preta,1,Campinas,SP,2,0,...,666.4,Inglês,1.0,120.0,120.0,120.0,100.0,80.0,540.0,Sim
499258,Campinas,21,F,1,preta,1,Campinas,SP,1,2,...,503.6,Inglês,1.0,120.0,120.0,120.0,140.0,120.0,620.0,Sim
499691,Campinas,17,F,1,preta,1,Campinas,SP,2,0,...,770.3,Inglês,1.0,120.0,120.0,120.0,160.0,80.0,600.0,Sim
499883,Campinas,20,F,1,branca,1,Campinas,SP,1,3,...,701.1,Inglês,1.0,160.0,200.0,200.0,200.0,180.0,940.0,Sim