## **DISTRIBUIÇÃO DE FREQUÊNCIAS**

In [ ]:
# importa dependencias  
import numpy as np
import pandas as pd
from collections import Counter  # para a frequencia absoluta

In [ ]:
# montar o drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# carrega os dados
enem_sp = pd.read_csv('/content/drive/MyDrive/UDEMY - Estatística para Análise de Dados/Moreno Marcos/microdados_enem_2019_sp_tratado.csv',
                      sep=',', encoding='iso-8859-1')
enem_sp.head()

,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,SG_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
0,Santa Isabel,22,M,1,parda,1,Santa Izabel do Pará,PA,1,4,...,600.2,Inglês,1.0,160.0,200.0,180.0,200.0,200.0,940.0,Sim
1,São Paulo,17,F,1,parda,1,Belém,PA,2,0,...,731.8,Inglês,1.0,160.0,120.0,200.0,200.0,200.0,880.0,Não
2,São Bernardo do Campo,19,M,1,parda,1,São Bernardo do Campo,SP,2,0,...,393.2,Espanhol,1.0,80.0,160.0,120.0,100.0,100.0,560.0,Sim
3,Embu-Guaçu,17,F,1,parda,1,Itacoatiara,AM,2,0,...,419.2,Inglês,1.0,120.0,120.0,120.0,120.0,80.0,560.0,Sim
4,Guarulhos,23,F,1,branca,1,São Paulo,SP,1,5,...,796.1,Inglês,1.0,160.0,200.0,180.0,180.0,160.0,880.0,Sim

Existem muitas cidades em SP como observados abaixo.

In [47]:
enem_sp.NO_MUNICIPIO_RESIDENCIA.unique().size

645

In [49]:
enem_sp.NO_MUNICIPIO_RESIDENCIA.value_counts().head(20)

São Paulo                143853
Guarulhos                 15647
Campinas                  13198
São Bernardo do Campo     10705
Osasco                     9521
São José dos Campos        9281
Santo André                8841
Ribeirão Preto             8276
Sorocaba                   8088
Mogi das Cruzes            5872
Diadema                    5323
Carapicuíba                5264
Mauá                       4972
São José do Rio Preto      4682
Jundiaí                    4340
São Carlos                 4331
Barueri                    4299
Santos                     4290
Bauru                      4171
Itaquaquecetuba            4056
Name: NO_MUNICIPIO_RESIDENCIA, dtype: int64

Iremos selecionar apenas a cidade de Sorocaba

In [ ]:
enem_sorocaba = enem_sp.loc[enem_sp.NO_MUNICIPIO_RESIDENCIA == 'Sorocaba']
enem_sorocaba.head()

,NO_MUNICIPIO_RESIDENCIA,IDADE,SEXO,TP_ESTADO_CIVIL,RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,SG_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,...,NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,COMP1,COMP2,COMP3,COMP4,COMP5,NOTA_REDACAO,INTERNET
42,Sorocaba,27,F,1,branca,1,São Paulo,SP,1,8,...,49.1,Espanhol,1.0,140.0,40.0,40.0,140.0,40.0,400.0,Sim
192,Sorocaba,34,M,1,branca,1,Monte Sião,MG,1,12,...,751.3,Inglês,1.0,120.0,120.0,140.0,120.0,40.0,540.0,Sim
226,Sorocaba,24,F,1,branca,1,Sorocaba,SP,1,6,...,609.8,Inglês,1.0,100.0,40.0,80.0,80.0,0.0,300.0,Sim
358,Sorocaba,22,F,1,branca,1,Sorocaba,SP,1,3,...,587.8,Inglês,1.0,120.0,180.0,140.0,120.0,120.0,680.0,Sim
409,Sorocaba,34,F,2,branca,1,Itapeva,SP,1,13,...,566.2,Espanhol,1.0,120.0,120.0,100.0,100.0,60.0,500.0,Sim

In [ ]:
enem_sorocaba.shape

(8088, 35)

Agora selecionamos a coluna IDADE para análise

In [ ]:
idades = enem_sorocaba['IDADE']
idades

42        27
192       34
226       24
358       22
409       34
          ..
499512    23
499592    17
499619    17
499646    18
499839    20
Name: IDADE, Length: 8088, dtype: int64

Criamos uma variável de Frequência Absoluta associada às idades dos alunos particapantes do Enem que moram na cidade de Sorocaba. esta variável contém as contagem por idades dos participantes. 

Por exemplo. 8 alunos de 16 anos de idades participaram do ENEM na cidade de Sorocaba

In [ ]:
freq_absoluta = Counter(idades)
freq_absoluta

Counter({14: 1,
         15: 3,
         16: 8,
         17: 2993,
         18: 1558,
         19: 872,
         20: 556,
         21: 372,
         22: 279,
         23: 206,
         24: 154,
         25: 114,
         26: 105,
         27: 76,
         28: 87,
         29: 72,
         30: 52,
         31: 40,
         32: 50,
         33: 41,
         34: 42,
         35: 42,
         36: 37,
         37: 26,
         38: 29,
         39: 29,
         40: 23,
         41: 20,
         42: 23,
         43: 21,
         44: 14,
         45: 14,
         46: 18,
         47: 8,
         48: 15,
         49: 11,
         50: 7,
         51: 11,
         52: 9,
         53: 9,
         54: 13,
         55: 2,
         56: 4,
         57: 2,
         58: 2,
         59: 2,
         60: 4,
         61: 6,
         62: 1,
         64: 2,
         65: 1,
         70: 1,
         73: 1})

Agora transformamos a variável freq_absoluta em um tipo de objeto DataFrame.

In [ ]:
freq_absoluta = pd.DataFrame.from_dict(freq_absoluta, orient='index')
freq_absoluta

       0
27    76
34    42
24   154
22   279
28    87
30    52
19   872
25   114
17  2993
18  1558
29    72
32    50
20   556
36    37
21   372
23   206
26   105
39    29
38    29
37    26
41    20
31    40
33    41
54    13
40    23
47     8
43    21
50     7
35    42
61     6
60     4
42    23
53     9
49    11
46    18
45    14
48    15
64     2
57     2
52     9
51    11
16     8
44    14
56     4
58     2
65     1
59     2
15     3
62     1
73     1
14     1
70     1
55     2

Vamos organizar os Indices do DataFrame Anterior. Assim, temos as idades dos alunos que participaram do Enem da cidade de Sorocaba.

In [36]:
freq_absoluta.sort_index(ascending=True, inplace=True)
freq_absoluta

       0
14     1
15     3
16     8
17  2993
18  1558
19   872
20   556
21   372
22   279
23   206
24   154
25   114
26   105
27    76
28    87
29    72
30    52
31    40
32    50
33    41
34    42
35    42
36    37
37    26
38    29
39    29
40    23
41    20
42    23
43    21
44    14
45    14
46    18
47     8
48    15
49    11
50     7
51    11
52     9
53     9
54    13
55     2
56     4
57     2
58     2
59     2
60     4
61     6
62     1
64     2
65     1
70     1
73     1

Agora iremos criar a Frequência Relativa da IDADE dos participantes.

In [15]:
freq_relativa = freq_absoluta / freq_absoluta.sum()
freq_relativa

           0
14  0.000124
15  0.000371
16  0.000989
17  0.370054
18  0.192631
19  0.107814
20  0.068744
21  0.045994
22  0.034496
23  0.025470
24  0.019041
25  0.014095
26  0.012982
27  0.009397
28  0.010757
29  0.008902
30  0.006429
31  0.004946
32  0.006182
33  0.005069
34  0.005193
35  0.005193
36  0.004575
37  0.003215
38  0.003586
39  0.003586
40  0.002844
41  0.002473
42  0.002844
43  0.002596
44  0.001731
45  0.001731
46  0.002226
47  0.000989
48  0.001855
49  0.001360
50  0.000865
51  0.001360
52  0.001113
53  0.001113
54  0.001607
55  0.000247
56  0.000495
57  0.000247
58  0.000247
59  0.000247
60  0.000495
61  0.000742
62  0.000124
64  0.000247
65  0.000124
70  0.000124
73  0.000124

Agora calculamos a Frequec. Percentual Relativa e ordenamos de maior a menos porcentagem.

In [37]:
freq_relativa_perc = freq_relativa * 100
freq_relativa_perc.sort_values(by=0, ascending=False)

            0
17  37.005440
18  19.263106
19  10.781405
20   6.874382
21   4.599407
22   3.449555
23   2.546983
24   1.904055
25   1.409496
26   1.298220
28   1.075668
27   0.939664
29   0.890208
30   0.642928
32   0.618200
34   0.519288
35   0.519288
33   0.506924
31   0.494560
36   0.457468
39   0.358556
38   0.358556
37   0.321464
42   0.284372
40   0.284372
43   0.259644
41   0.247280
46   0.222552
48   0.185460
44   0.173096
45   0.173096
54   0.160732
49   0.136004
51   0.136004
52   0.111276
53   0.111276
47   0.098912
16   0.098912
50   0.086548
61   0.074184
56   0.049456
60   0.049456
15   0.037092
59   0.024728
64   0.024728
58   0.024728
57   0.024728
55   0.024728
70   0.012364
65   0.012364
14   0.012364
62   0.012364
73   0.012364

Agora faremos o mesmo para a cidade de Carapicuíba.

In [63]:
# filtra os dados, seleciona a coluna idade 
carapicuiba = enem_sp.query('NO_MUNICIPIO_RESIDENCIA == "Carapicuíba"')['IDADE']
# calcula a freq. absoluta
carapicuiba_freq_abs = carapicuiba.value_counts()
# calcula a freq. relativa
carapicuiba_freq_rel = carapicuiba_freq_abs / carapicuiba_freq_abs.sum()
# calcula a freq. precentual relativa
carapicuiba_freq_per_rel = carapicuiba_freq_rel * 100
carapicuiba_freq_per_rel.sort_values(ascending=False)

17    34.574468
18    21.580547
19     9.365502
20     7.142857
21     4.635258
22     3.172492
23     2.526596
24     2.241641
25     1.462766
26     1.253799
27     1.120821
30     1.025836
28     0.930851
29     0.778875
31     0.740881
34     0.607903
32     0.588906
36     0.569909
35     0.512918
38     0.512918
37     0.474924
39     0.436930
33     0.379939
40     0.322948
45     0.284954
41     0.284954
43     0.265957
42     0.246960
46     0.227964
50     0.208967
44     0.208967
48     0.208967
49     0.189970
51     0.132979
52     0.132979
47     0.132979
53     0.113982
16     0.075988
65     0.056991
55     0.037994
54     0.037994
63     0.037994
57     0.037994
56     0.018997
60     0.018997
66     0.018997
58     0.018997
15     0.018997
14     0.018997
Name: IDADE, dtype: float64