## 1- Top 10 atores/atrizes considerando todos os dados

In [40]:
# importamos a biblioteca pandas
import pandas as pd

In [41]:
# carregamos dados do Netflix e observamos a coluna CAST
netflix = pd.read_csv('netflix_titles.csv')
netflix.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

In [42]:
# carregamos dados da Amazon e verificamos que possuem a mesma estrutura
amazon_prime = pd.read_csv('amazon_prime_titles.csv')
amazon_prime.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...

In [43]:
# concatenamos os dados da Amazon e Netflix
all_data = pd.concat([netflix, amazon_prime], ignore_index=True)
# acessamos Ã  coluna CAST
cast = all_data['cast']
# filtramos os valores vazios(NaN) da coluna CAST
cond = cast.notnull()
cast = cast[cond]
# resetamos os indices
cast.reset_index(inplace=True, drop=True)
# convertemos os seus valores a minusculo
cast = cast.str.lower()
cast.head(3)

0    ama qamata, khosi ngema, gail mabalane, thaban...
1    sami bouajila, tracy gotoas, samuel jouy, nabi...
2    mayur more, jitendra kumar, ranjan raj, alam k...
Name: cast, dtype: object

In [44]:
# transformamos a coluna CAST numa matriz (DataFrame) cujos valores sÃ£o os nomes dos atores/atrizes
cast_df = cast.str.split(',', expand=True)
cast_df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,75
0,ama qamata,khosi ngema,gail mabalane,thabang molaba,dillon windvogel,natasha thahane,arno greeff,xolile tshabalala,getmore sithole,cindy mahlangu,...,None,None,None,None,None,None,None,None,None,None
1,sami bouajila,tracy gotoas,samuel jouy,nabiha akkari,sofia lesaffre,salim kechiouche,noureddine farihi,geert van rampelberg,bakary diombera,None,...,None,None,None,None,None,None,None,None,None,None

In [45]:
# OBJETIVO: criar uma Ãºnica coluna contendo os nomes dos atores/atrizes para fazer a contagem

# capturamos a primiera coluna
col = cast_df[0]

# percorremos cada coluna da matriz
for i in range(1, 76):
    # concatenamos una vez sÃ³ a primeira coluna com a segunda
    if i == 1:
        result = pd.concat([col, cast_df[i]], ignore_index=True)
    # concatenamos a coluna resultante com as restantes e sobre-escrevemos nela mesma  
    else:
        result = pd.concat([result, cast_df[i]], ignore_index=True)

# filtramos valores vazios (None)
cond = result.notnull()
result = result[cond]
# removemos espaÃ§os em branco
result = result.str.strip()
# listamos os 10 nomes de atores/atrizes que mais se repetem
result.value_counts().head(10)

anupam kher         59
maggie binkley      56
amitabh bachchan    47
shah rukh khan      46
nassar              43
akshay kumar        41
paresh rawal        39
danny trejo         39
naseeruddin shah    39
prakash raj         35
dtype: int64